@tailwind base;
@tailwind components;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-color: rgba(24, 28, 40, 255);
}
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mainTitle {
  color: linear-gradient(93.46deg, rgb(42, 171, 238) 16.94%, rgb(12, 207, 207) 97.24%);
}
